<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Don't forget to stop by and pick up your comics tomorrow!</h1>
    <p>We'll see you tomorrow!</p>
  </body>
</html>
